.widget-box {
	height: 250px;
	background-color: #052831;
	border-radius: 15px;
	border: 1px solid #00c6c2;
}

#fameteam, #calloutteam {
	display: none;
}

.cbox {
	color: #00c6c2;
	background-color: rgb(255,255,255,0.2);
	border-radius: 10px;
	padding: 5px 0;
}

.famename {
    left: 35px;
	top: 10px;
    font-style: italic;
}

.logobox {
	width: 80%;
	height: 80px;
	overflow: hidden;
}

.logo {
	width: 300px;
	margin-top: -35px;
	height: fit-content;
}

.commenttrigger {
    right: 15px;
    font-style: italic;
}

.defaultnone {
	display: none;
	background-color: #052831;
	border-radius: 10px;
	color: white;
	padding: 10px 0;
}

.viewcomments {
	text-align: right;
	margin-right: 10px;
	font-style: italic;
	font-size: 12px;
}
.viewcomments:hover {
	color: white;
	cursor: pointer;
}

.like-button {
	background-color: white;
	color: green;
	border: 1px solid darkgreen;
	border-radius: 5px;
}

.like-button:hover {
	background-color: green;
	color: white;
}

#choice {
	margin: 5px 0;
}

.mainfeed {
	height: 480px;
	overflow: hidden;
	padding-right: 8px;
}
.mainfeed:hover {
	overflow-y: scroll;
	overflow-x: hidden;
}

.alltalentbox {
	border: 1px solid turquoise;
	border-radius: 10px;
}

#listinput {
	cursor: pointer;
}

.fbox {
	padding: 5px 0;
}

.talent-box {
	height: 350px !important;
}

.text-right{
	font-style: italic;
}

input, .alert-success, .smalltext {
	font-size: 12px;
}

input[type="submit"], input[type="reset"] {
	cursor: pointer;
}

/* Remove up and down arrows from number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.smallimp-box {
	height: 350px !important;
	color: white;
}

.fakelink:hover {
	cursor: pointer;
	text-decoration: underline;
}

a.cbox.px-2:hover {
    text-decoration: none;
    color: white;
}

.post {
	border-radius: 10px;
	overflow: hidden;
}
.cpost {
	background-color: #00c6c2;
	color: #052831;
}