.callout-box {
	height: 200px;
	background-color: turquoise;
	border-radius: 15px;
}

.cbox {
	color: darkturquoise;
	background-color: white;
	border: 1px solid darkturquoise;
	border-radius: 10px;
	padding: 5px 0;
}

.fame-box {
	height: 200px;
	background-color: yellow;
	border-radius: 15px;
}

.fbox {
	color: gold;
	background-color: white;
	border: 1px solid gold;
	border-radius: 10px;
	padding: 5px 0;
}

.talent-box {
	height: 400px;
	background-color: #00c6c2;
	border-radius: 15px;
	padding: 5px;
}

input, .alert-success, .smalltext {
	font-size: 12px;
}

input[type="submit"], input[type="reset"] {
	cursor: pointer;
}

/* Remove up and down arrows from number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.tbox {
	color: #00A8A5;
	background-color: white;
	border: 1px solid #00A8A5;
	border-radius: 10px;
	padding: 5px 0;
}

.smallimp-box {
	height: 200px;
	background-color: orange;
	border-radius: 15px;
}

.sibox {
	color: orange;
	background: white;
	border: 1px solid darkorange;
	border-radius: 20px;
	padding: 5px 0;
}